
* {
	padding: 0;
	margin: 0;
	
	}
	



  body { background: -moz-radial-gradient(#404040,#000); background: -webkit-gradient(radial, center center,10,center center,1000, from(#364D58), to(#000)); color:#555; background-color:#151f23; }
 


h1{
	margin-left: 43%; 
	margin-bottom: 3%;
    color : white;
    font-size: 49px;
    
    
    }	

 



#sentMsgsTab {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width:100%;
    margin-top: 84%;
    
}

#sentMsgsTab td, #sentMsgsTab th {
    border: 1px solid #ddd;
    padding: 8px;
    color: black;
}


#sentMsgsTab tr:nth-child(even){background-color: #f0f8ff;}
 #sentMsgsTab tr:nth-child(odd){background-color: #ffffff;} 
#sentMsgsTab tr:hover {background-color: #ddd;}

#sentMsgsTab th {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 6%;
    margin-right: -8%;
    margin-left: 10%;
    text-align: left; 
/*     background-color: #4BB08B; */
     background-color: #ffffff;
    color: black;
    margin-right: 30%;
    margin-top: 5%;
     
    
}




#receivedMsgsTab {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width:100%;
    margin-bottom:20px;
    
}

#receivedMsgsTab td, #receivedMsgsTab th {
    border: 1px solid #ddd;
    padding: 8px;
    color: black;
}

#receivedMsgsTab tr:nth-child(even){background-color: #f0f8ff;}
#receivedMsgsTab tr:nth-child(odd){background-color: #ffffff;}
#receivedMsgsTab tr:hover {background-color: #ddd;}

#receivedMsgsTab th {
    /* padding-top: 12px;
    padding-bottom: 12px; */
    margin-left: 10%;
    margin-right: -30%;
    margin-top: 6%;

    text-align: left;
    background-color: #ffffff;
    color: black;
}
